@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

.caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

/* CSS Variables */
:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --text-color: #fff;
    --nav-secondary: #1e1e1e;
    --left-btn: #2151A7;
    --line-height: 1.7rem;
    --transition: 0.4s ease-in;
}

/* Smooth scroll effect */
html {
    scroll-behavior: smooth;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

body {
    font-family: "Caveat";
    background-color: #294e71;
    font-size: 24px;
    color: var(--text-color)
}

button {
    font-family: "Caveat";
    font-size: 30px;
    width: 239px;
    height: 69px;
    display: inline-block;
    border: none;
    border-radius: 50px;
    color: var(--text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .2);
}

.buttons {
    display: flex;
    gap: 5%;
    margin-top: 5%;
    z-index: 1;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--nav-secondary);
} 

.second {
    color: var(--secondary-color);
}

nav {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    position: static;
    top: 0;
    left: 0;
}

.bar {
    background-color: #000000;
    width: 25px;
    height: 8px;
    border-bottom: 1px solid white;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    font-weight: var(--bold-font);
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: screen;
    margin: 2rem;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-text h1 {
    color: var(--text-color);
    font-size: 56px;
    margin-left: 10%;
    width: 100%;
}

.sub {
    margin-top: 10%;
}

.left {
    background-color: var(--left-btn);
}

.left:hover {
    background-color: #143D86;
}

.left:active {
    background-color: #3161BE;
}

.right {
    background-color: #3161BE;
}

.right:hover {
    background-color: #203F7B;
}

.right:active {
    background-color: #2151A7;
}

iframe {
    max-width: 630px;
    height: 360px;
    border-radius: 50px;
    border: 20px solid #3A6E9E;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 50px;
    height: 29px;
    background-color: rgba(30, 39, 46, .2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 6px;
    position: relative;
}

.switcher {
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.checkbox:checked + .label .switcher {
    transform: translateX(24px);
}

/* waves */
svg path {
    animation: pathAnim 7s linear infinite;
    fill: #fff;
}

svg path:nth-child(1){
    fill: #000;
}

svg path:nth-child(2) {
    animation-delay: 1s;
}
svg path:nth-child(3) {
    animation-delay: 3s;
}
svg path:nth-child(4) {
    animation-play-state: paused;
}

@keyframes pathAnim {
    0% {
        d: path(
            "M0, 192 C220, 100, 440, 100, 660, 192 C880, 290, 1100, 290, 1320, 192 L1320 500 L0 500"
        );
    }
    25% {
        d: path(
            "M0, 100 C220, 100, 440, 292, 660, 292 C880, 292, 1100, 100, 1320, 102 L1320 500 L0 500"
        );
    }
    50% {
        d: path(
            "M0, 192 C220, 290, 440, 290, 660, 192 C880, 100, 1100, 100, 1320, 192 L1320 500 L0 500"
        );
    }
    75% {
        d: path(
            "M0, 292 C220, 292, 440, 100, 660, 100 C880, 100, 1100, 292, 1320, 192 L1320 500 L0 500"
        );
    }
    100% {
        d: path(
            "M0, 192 C220, 100, 440, 100, 660, 192 C880, 290, 1100, 290, 1320, 192 L1320 500 L0 500"
        );
    }
}

/* dark mode */

body.dark {
    background: #0B0E1C;
    background: linear-gradient(90deg, rgba(11, 14, 28, 1) 0%, rgba(18, 16, 38, 1) 100%);
    font-size: 20px;
}

body.dark .switcher {
    background-color: #A1A5DF;
}

body.dark .intro-text h1 {
    font-size: 40px;
}

body.dark iframe {
    border-color:#202041;
}

body.dark .buttons .left {
    background: #42233C;
    background: radial-gradient(circle,rgba(66, 35, 60, 1) 0%, rgba(38, 27, 51, 1) 100%);
}

body.dark .buttons .right {
    background: #282450;
    background: radial-gradient(circle, rgba(40, 36, 80, 1) 0%, rgba(54, 48, 98, 1) 100%);
}

body.dark svg path {
    fill: #15112B;
}

body.dark svg path:nth-child(1){
    fill: #0F1028;
}

@media screen and (max-width: 1318px) {
    .intro-text h1 {
        font-size: 50px;
        margin-left: 0;
    }

    body.dark .intro-text h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column-reverse;
        max-width: 500px;
        padding: 0;
    }

    .intro {
        align-items: flex-start;
    }

    .intro-text h1 {
        margin-left: 0%;
    }

    body.dark .intro-text h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 420px) {
    nav {
        padding: 1rem 0rem;
    }

    .hero {
        margin: 0;
        padding: 2%
    }

    .intro {
        align-items: center;
    }

    .intro-text h1 {
        margin-top: 5%;
        font-size: 38px;
    }

    body.dark .intro-text h1 {
        font-size: 22px;
    }

    body.dark .buttons .right{
        font-size: 26px;
    }

    .buttons {
        width: 85%;
    }

    /* iframe {
        width: 380px;
    } */
}
